body{
    margin:0px;
    padding:0px;
    background: url("../images/bg.gif") left top repeat;
}

.top-border{
    width:100%;
    height:10px;
    background-color: #EBEE13;

}
.header{
    width:960px;
    height: 115px;
    background-color: #efefef;
    margin:0px auto;
}

.header-left{
    float:left;
}
.logo{
    float: left;
    margin: 23px 0px 0px 10px;
}
.logo a{
    float: left;
}
.header-right{
    float:right;
}

.subscribers{
    display: flex;
    margin-top: 40px;
    font-size: 12px;
    align-items: center;
}
.subscribers span{
    font-size: 30px;
    line-height: 45px;
    padding:0px 20px 0px 5px;
}